# File extensions which should not be uploaded to github
*.dat
*.out
*.sim
*.DS_store
*.stdout
*.c
*.stderr
*.out.dSYM


# Folder ques that should not be uploaded to github
backend_mockup_*
Cluster*
*test*
*Ef_res*
Bifrost*/
*.mcpl
MCPL_*
#!**/*Bifrost*