# File extensions which should not be uploaded to github
*.dat
*.out
*.sim
*.DS_Store
*.stdout
*.c
*.stderr
*.out.dSYM


# Folder ques that should not be uploaded to github
backend_mockup_*
Cluster*
*test*
*Ef_res*
Bifrost*/
scan*
*.mcpl
vana*
*_data_*
*data
MCPL_*
Phonon_Pb*
!*.png
!*.pdf
lass*